<!doctype html>
<html>
<head>
    <title>{{page.title}}</title>
    {{> meta}}
    {{> imports}}
</head>
<body>
{{> uvicNav}}
{{> uvicHeader}}

<div class="mypage">
    <div class="container">
        <div id="content">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    {{> nav}}
                </div>
                <div class="panel-body">
                    {{> @partial-block }}
                </div>
            </div>
        </div>
    </div>
</div>

{{> uvicFooter}}
</body>
</html>
