<!doctype html>
<html>
<head>
    <title>Uvic-myspace by bitHero</title>
    {{> meta}}
    {{> imports}}
</head>
<body>
{{> uvicNav}}
{{> uvicHeader}}
<div class="mypage">
    {{> @partial-block }}
</div>

{{> uvicFooter}}
</body>
</html>
