<ul class="nav nav-tabs">{{#each sections}}
    <li{{#if (isactive this ../page)}} class="active"{{/if}}>
        <a {{#unless (isactive this ../page)}}href="/{{../user.path}}{{path}}{{lookup (lookup subsections start_page) "path"}}"{{/unless}}>{{title}}</a>
    </li>{{/each}}
</ul>