<ul class="nav nav-tabs">{{#each sections}}
    <li{{#if (contains subsections ../page)}} class="active"{{/if}}>
        <a {{#unless (contains subsections ../page)}}href="/{{../user.path}}{{path}}{{lookup (lookup subsections start_page) "path"}}"{{/unless}}>{{title}}</a>
    </li>{{/each}}
</ul>