<header id="uvic-HEADER_1032">
    <div id="uvic-DIV_1033">
        <div id="uvic-DIV_1034">
            <a id="uvic-A_1035" href="/"><span id="uvic-SPAN_1036">University<br
                    id="uvic-BR_1037"/>of Victoria</span></a>
            <aside id="uvic-ASIDE_1038">
                <ul id="uvic-UL_1039">
                    <li id="uvic-LI_1040">
                        <a href="#" id="uvic-A_1041">A-Z</a>
                    </li>
                    <li id="uvic-LI_1042">
                        <a href="#" id="uvic-A_1043">Directories</a>
                    </li>
                    <li id="uvic-LI_1044">
                        <a href="#" id="uvic-A_1045">Maps</a>
                    </li>
                </ul>
            </aside>
            <form method="get" id="uvic-FORM_1046" action="/search/q/web.php">
                <input type="search" size="10" placeholder="Search UVic" name="q" maxlength="255" id="uvic-INPUT_1047"/>
                <input value="4" type="hidden" name="t" id="uvic-INPUT_1048"/>
                <input value="1" type="hidden" name="p" id="uvic-INPUT_1049"/>
                <input value="true" type="hidden" name="g" id="uvic-INPUT_1050"/>
                <ul id="uvic-UL_1051">
                    <li id="uvic-LI_1052">
                        <a href="#" id="uvic-A_1053">Search UVic</a>
                    </li>
                    <li id="uvic-LI_1054">
                        <a href="#" id="uvic-A_1055">Search for people</a>
                    </li>
                    <li id="uvic-LI_1056">
                        <a href="#" id="uvic-A_1057">Search for departments</a>
                    </li>
                    <li id="uvic-LI_1058">
                        <a href="#" id="uvic-A_1059">Search for experts</a>
                    </li>
                    <li id="uvic-LI_1060">
                        <a href="#" id="uvic-A_1061">Seach for news</a>
                    </li>
                    <li id="uvic-LI_1062">
                        <a href="#" id="uvic-A_1063">Search for resources</a>
                    </li>
                    <li id="uvic-LI_1064">
                        <a href="http://www.askuvic.ca/index.jsp?requestType=NormalRequest&amp;source=1&amp;question="
                           id="uvic-A_1065">Ask UVic</a>
                    </li>
                </ul>
            </form>
        </div>
        <nav id="uvic-NAV_1066">
            <span id="uvic-SPAN_1067"></span>
            <ul id="uvic-UL_1068">
                <li id="uvic-LI_1069">
                    <a title="Home" href="#" id="uvic-A_1070">Home</a>
                </li>
                <li id="uvic-LI_1071">
                    <a title="Future students" href="#" id="uvic-A_1072">Future students</a>
                    <ul id="uvic-UL_1073">
                        <li id="uvic-LI_1074">
                            <a title="Undergraduate" href="#" id="uvic-A_1075">Undergraduate</a>
                        </li>
                        <li id="uvic-LI_1076">
                            <a title="Graduate" href="#" id="uvic-A_1077">Graduate</a>
                        </li>
                        <li id="uvic-LI_1078">
                            <a title="Professional &amp; continuing studies" href="#" id="uvic-A_1079">Professional
                                &amp; continuing studies</a>
                        </li>
                        <li id="uvic-LI_1080">
                            <a title="Co-operative education" href="#" id="uvic-A_1081">Co-operative education</a>
                        </li>
                        <li id="uvic-LI_1082">
                            <a title="Distance learning" href="#" id="uvic-A_1083">Distance learning</a>
                        </li>
                        <li id="uvic-LI_1084">
                            <a title="Adult learners" href="#" id="uvic-A_1085">Adult learners</a>
                        </li>
                        <li id="uvic-LI_1086">
                            <a title="Indigenous" href="#" id="uvic-A_1087">Indigenous</a>
                        </li>
                        <li id="uvic-LI_1088">
                            <a title="International" href="#" id="uvic-A_1089">International</a>
                        </li>
                    </ul>
                </li>
                <li id="uvic-LI_1090">
                    <a title="Current students" href="#" id="uvic-A_1091">Current students</a>
                </li>
                <li id="uvic-LI_1092">
                    <a title="Future faculty &amp; staff" href="#" id="uvic-A_1093">Future faculty &amp; staff</a>
                    <ul id="uvic-UL_1094">
                        <li id="uvic-LI_1095">
                            <a title="Faculty" href="#" id="uvic-A_1096">Faculty</a>
                        </li>
                        <li id="uvic-LI_1097">
                            <a title="Staff" href="#" id="uvic-A_1098">Staff</a>
                        </li>
                    </ul>
                </li>
                <li id="uvic-LI_1099">
                    <a title="Current faculty &amp; staff" href="#" id="uvic-A_1100">Current faculty &amp; staff</a>
                </li>
                <li id="uvic-LI_1101">
                    <a title="Alumni &amp; donors" href="#" id="uvic-A_1102">Alumni &amp; donors</a>
                </li>
                <li id="uvic-LI_1103">
                    <a title="Partners" href="#" id="uvic-A_1104">Partners</a>
                    <ul id="uvic-UL_1105">
                        <li id="uvic-LI_1106">
                            <a title="Community" href="#" id="uvic-A_1107">Community</a>
                        </li>
                        <li id="uvic-LI_1108">
                            <a title="Indigenous" href="#" id="uvic-A_1109">Indigenous</a>
                        </li>
                        <li id="uvic-LI_1110">
                            <a title="Employers" href="#" id="uvic-A_1111">Employers</a>
                        </li>
                        <li id="uvic-LI_1112">
                            <a title="Research" href="#" id="uvic-A_1113">Research</a>
                        </li>
                        <li id="uvic-LI_1114">
                            <a title="Business &amp; Industry" href="#" id="uvic-A_1115">Business &amp; Industry</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <span id="uvic-SPAN_1116"></span>
        </nav>
    </div>
</header>