<footer id="uvic-FOOTER_1118">
    <div id="uvic-DIV_1119">
        <div id="uvic-DIV_1120">
            <h5 id="uvic-H5_1121">
                Contact
            </h5>
            <p id="uvic-P_1122">
                University of Victoria<br id="uvic-BR_1123" /> 3800 Finnerty Road<br id="uvic-BR_1124" /> Victoria BC V8P 5C2<br id="uvic-BR_1125" /> Canada<br id="uvic-BR_1126" /> Phone: <a href="tel:1-250-721-7211" id="uvic-A_1127">1-250-721-7211</a><br id="uvic-BR_1128" /> Fax: <a href="fax:1-250-721-7212" id="uvic-A_1129">1-250-721-7212</a><br id="uvic-BR_1130" /><a href="#" id="uvic-A_1131">Contact UVic</a><br id="uvic-BR_1132" /><a href="#" id="uvic-A_1133">Website feedback</a>
            </p>
        </div>
        <div id="uvic-DIV_1134">
            <h5 id="uvic-H5_1135">
                Copyright
            </h5>
            <ul id="uvic-UL_1136">
                <li id="uvic-LI_1137">
                    © 2012 University of Victoria
                </li>
                <li id="uvic-LI_1138">
                    <a href="#" id="uvic-A_1139">Copyright info</a>
                </li>
                <li id="uvic-LI_1140">
                    <a href="#" id="uvic-A_1141">Legal notices</a>
                </li>
            </ul>
        </div>
        <div id="uvic-DIV_1142">
            <h5 id="uvic-H5_1143">
                Accessibility
            </h5>
            <ul id="uvic-UL_1144">
                <li id="uvic-LI_1145">
                    <a href="#" id="uvic-A_1146">Website accessibility info</a>
                </li>
                <li id="uvic-LI_1147">
                    Text size <a href="#smaller" id="uvic-A_1148">A</a><a href="#regular" id="uvic-A_1149">A</a><a href="#larger" id="uvic-A_1150">A</a>
                </li>
                <li id="uvic-LI_1151">
                    <a href="#" id="uvic-A_1152">Campus accessibility info</a>
                </li>
            </ul>
        </div>
        <div id="uvic-DIV_1153">
            <h5 id="uvic-H5_1154">
                Join the conversation
            </h5>
            <ul id="uvic-UL_1155">
                <li id="uvic-LI_1156">
                    <a href="http://www.facebook.com/universityofvictoria" id="uvic-A_1157">Facebook</a>
                </li>
                <li id="uvic-LI_1158">
                    <a href="http://twitter.com/uvic" id="uvic-A_1159">Twitter</a>
                </li>
                <li id="uvic-LI_1160">
                    <a href="http://www.youtube.com/UVic" id="uvic-A_1161">YouTube</a>
                </li>
                <li id="uvic-LI_1162">
                    <a href="http://www.flickr.com/groups/uvic/pool/" id="uvic-A_1163">Flickr</a>
                </li>
            </ul>
            <p id="uvic-P_1164">
                <a href="#" id="uvic-A_1165">View all social media</a>
            </p>
        </div>
    </div>
</footer>