<div id="uvic-DIV_34">
    <div id="uvic-DIV_35">
        <nav id="uvic-NAV_36">
            <div id="uvic-DIV_37">
                <ul id="uvic-UL_45">
                    <li id="uvic-LI_46">
                        <a href="#" id="uvic-A_47">Sign out of UVic</a>
                    </li>
                    <li id="uvic-LI_48">
                        <a href="/" id="uvic-A_49">Home</a>
                    </li>
                    <li id="uvic-LI_144">
                        <a href="#" id="uvic-A_145">About</a>
                    </li>
                    <li id="uvic-LI_277">
                        <a href="#" id="uvic-A_278">Admissions</a>
                    </li>
                    <li id="uvic-LI_342">
                        <a href="#" id="uvic-A_343">Academics</a>
                    </li>
                    <li id="uvic-LI_442">
                        <a href="#" id="uvic-A_443">Research</a>
                    </li>
                    <li id="uvic-LI_507">
                        <a href="#" id="uvic-A_508">Library</a>
                    </li>
                    <li id="uvic-LI_622">
                        <a href="#" id="uvic-A_623">On campus</a>
                    </li>
                    <li id="uvic-LI_781">
                        <a href="#" id="uvic-A_782">Help</a>
                    </li>
                    <li id="uvic-LI_894">
                        <a href="/{{base_url}}{{user.path}}" id="uvic-A_895">MyUVic</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
