{{#>default section=sections.records page=sections.records.subsections.transcripts}}
<div class="row" style="min-height: 60vh;">
    {{! This is the starter for a section page
        -------------------------------------------------------
        - The tag at the top brings in the default portions
        - Data comes in from JSON files, please put all data/strings in the JSON files
        - Keep the data organized, if you're adding financial data put it under "finances"
    }}
    <!--Unofficial Transcript Column-->
    <div class="col-md-8">
        <h3>Unofficial Transcript</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae metus dolor. Nunc fringilla odio congue nulla porttitor interdum. Phasellus suscipit metus nunc, a suscipit neque pulvinar at.</p>

        <div class="panel panel-default">
            <div class="panel-body">
                {{#each user.records.semesters}}
                        <div id="{{#replace " " "-"}}{{semester}}{{/replace}}" class="semester {{#if (equals @index 0)}}active{{/if}}">
                            <h3>{{semester}}</h3>
                            <p>
                                <span class="text-muted">Semester GPA </span><span class="badge">{{semester_GPA}}</span>
                            </p>
                            {{> gradeTable static=true}}
                        </div>
                {{/each}}
            </div>
        </div>
    </div>

    <!--Official Transcript Column-->
    <div class="col-md-4">
        <h3>Official Transcript</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Order Transcript</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae metus dolor. Nunc fringilla odio congue nulla porttitor interdum. </p>

                <h4>Order Priority</h4>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadiosPriority" id="optionsRadios1" value="option1" checked>
                        Regular
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadiosPriority" id="optionsRadios2" value="option2" unchecked>
                            Express
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Hold for degree
                    </label>
                </div>

                <h4>Delivery Method</h4>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadiosDelivery" id="optionsRadios1" value="option1" checked>
                        Pick-up
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadiosDelivery" id="optionsRadios2" value="option2" unchecked>
                        Regular Mail
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadiosDelivery" id="optionsRadios3" value="option3" unchecked>
                        Courier in Canada
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadiosDelivery" id="optionsRadios4" value="option4" unchecked>
                        Courier outside of Canada
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Fax Service
                    </label>
                </div>

                <h4>Total</h4>
                <div class="btn-group">
                    $10 x
                    <span>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            1 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                        </ul>
                    </span>

                    copies
                </div>
                <button class="btn btn-default" type="submit">Place Order</button>
            </div>
        </div>
    </div>

</div>
{{/default}}