{{#>default section=sections.records page=sections.records.subsections.verification}}
<div style="min-height: 60vh;">
    {{! This is the starter for a section page
        -------------------------------------------------------
        - The tag at the top brings in the default portions
        - Data comes in from JSON files, please put all data/strings in the JSON files
        - Keep the data organized, if you're adding financial data put it under "finances"
    }}
    <div class="col-md-6">
        <h3>{{page.title}}</h3>
        <div class="panel panel-default">
            <table class="table table-hover" width="100%">
                <tbody>
                <tr>{{#each user.records.grades}}
                        <td width="35%">
                            <h4>{{semester}}</h4>
                        </td>
                        <td class="text-right" width="65%">
                            <a class="btn btn-default"><i class="fa fa-print"></i> Print</a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-download"></i> Download</a>
                        </td>
                    </tr>{{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>
{{/default}}