{{#>default section=sections.home page=sections.home}}
<div class="dashboard col-md-8">
    <h3>Dashboard</h3>
    <!-- tabs bottom -->
    <div class="tabbable tabs-below">
        <div class="panel panel-default tab-content">{{#each page.panels}}
            <div class="tab-pane{{#if (equals ../page.active_panel @key)}} active{{/if}}"
                 id="dashboard-{{@key}}">
                {{>(lookup . "template") user=../user today=../environment.today.day global=../this}}
            </div>{{/each}}
        </div>
        <ul class="nav nav-tabs">{{#each page.panels}}
            <li class="{{#if (equals ../page.active_panel @key)}}active{{/if}}">
                <a href="#dashboard-{{@key}}" data-toggle="tab">{{title}}</a>
            </li>{{/each}}
        </ul>
    </div>
    <!-- /tabs -->
</div>
{{/default}}