{{#>default section=sections.finances page=sections.finances.subsections.taxes}}
<div style="min-height: 60vh;">
    {{! This is the starter for a section page
        -------------------------------------------------------
        - The tag at the top brings in the default portions
        - Data comes in from JSON files, please put all data/strings in the JSON files
        - Keep the data organized, if you're adding financial data put it under "finances"
    }}
    <div class="row">
        <div class="col-md-8">
            <h2>About Tax Forms</h2>
            <p>When filing your annual income tax, you may be required to submit one or more of the available forms.
                Check with your accountant or tax professional for more information.</p>
        </div>
    </div>

<<<<<<< HEAD
    {{! Access the page context with `page` (see globals.json)}}

    <h2>Available Documents</h2>

    <div class="col-md-4">
        <h4><b>Proof of Enrollment</b></h4>
        <table class="table table-condensed table-striped col-md-3">
        <thead>
        <tr>
            <th class="col-md-10"></th>
            <th class="col-md-1"></th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Spring 2015</td>
            <td>
                <a href="#" class="btn btn-info"><i class="fa fa-download"></i> Download</a>
            </td>
            <td>
                <button type="button" onclick="printFunction()" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
            </td>
        </tr>
        <tr>
            <td>Summer 2015</td>
            <td>
                <a href="#" class="btn btn-info"><i class="fa fa-download"></i> Download</a>
            </td>
            <td>
                <button type="button" onclick="printFunction()" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
            </td>
        </tr>
        <tr>
            <td>Spring 2015</td>
            <td>
                <a href="#" class="btn btn-info"><i class="fa fa-download"></i> Download</a>
            </td>
            <td>
                <button type="button" onclick="printFunction()" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
            </td>
        </tr>
        <tr>
            <td>Spring 2015</td>
            <td>
                <a href="#" class="btn btn-info"><i class="fa fa-download"></i> Download</a>
            </td>
            <td>
                <button type="button" onclick="printFunction()" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
            </td>
        </tr>

        </tbody>
    </table>
    </div>



    {{!T2202A Tax Form}}
    <div class="col-md-4">
        <h4><b>T2202A Form</b></h4>
        <table class="table table-condensed table-striped col-md-3">
        <thead>
        <tr>
            <th class="col-md-10"></th>
            <th class="col-md-1"></th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
            <tbody>
            <tr>
                <td>Spring 2015</td>
                <td>
                    <a href="#" class="btn btn-info"><i class="fa fa-download"></i> Download</a>
                </td>
                <td>
                    <button type="button" onclick="printFunction()" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
                </td>
            </tr>
            <tr>
                <td>Summer 2015</td>
                <td>
                    <a href="#" class="btn btn-info"><i class="fa fa-download"></i> Download</a>
                </td>
                <td>
                    <button type="button" onclick="printFunction()" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
                </td>
            </tr>
            <tr>
                <td>Spring 2015</td>
                <td>
                    <a href="#" class="btn btn-info"><i class="fa fa-download"></i> Download</a>
                </td>
                <td>
                    <button type="button" onclick="printFunction()" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
                </td>
            </tr>
            <tr>
                <td>Spring 2015</td>
                <td>
                    <a href="#" class="btn btn-info"><i class="fa fa-download"></i> Download</a>
                </td>
                <td>
                    <button type="button" onclick="printFunction()" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
                </td>
            </tr>

            </tbody>
    </table>
    </div>




    {{!T4 Tax Form}}
    <div class="col-md-4">
        <h4><b>T4 Form</b></h4>
        <table class="table table-condensed table-striped col-md-3">
        <thead>
        <tr>
            <th class="col-md-10"></th>
            <th class="col-md-1"></th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
            <tbody>
            <tr>
                <td>Spring 2015</td>
                <td>
                    <a href="#" class="btn btn-info"><i class="fa fa-download"></i> Download</a>
                </td>
                <td>
                    <button type="button" onclick="printFunction()" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
                </td>
            </tr>
            <tr>
                <td>Summer 2015</td>
                <td>
                    <a href="#" class="btn btn-info"><i class="fa fa-download"></i> Download</a>
                </td>
                <td>
                    <button type="button" onclick="printFunction()" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
                </td>
            </tr>
            <tr>
                <td>Spring 2015</td>
                <td>
                    <a href="#" class="btn btn-info"><i class="fa fa-download"></i> Download</a>
                </td>
                <td>
                    <button type="button" onclick="printFunction()" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
                </td>
            </tr>
            <tr>
                <td>Spring 2015</td>
                <td>
                    <a href="#" class="btn btn-info"><i class="fa fa-download"></i> Download</a>
                </td>
                <td>
                    <button type="button" onclick="printFunction()" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
                </td>
            </tr>

            </tbody>
    </table>
    </div>




=======
    <div class="row">
        <div class="col-md-12">
            <h2>Available Documents</h2>
        </div>
    </div>

    <div class="row">{{#each user.finances.tax-slips}}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">{{title}}</div>
                <table class="table table-hover">
                    <tbody>{{#each years}}
                    <tr>
                        <td><h4>{{this}} Tax Year</h4></td>
                        <td class="text-right">
                            <button type="button" onclick="printFunction()" class="btn btn-default">
                                <i class="fa fa-print"></i> Print
                            </button>
                            <button type="button" class="btn btn-primary">
                                <i class="fa fa-download"></i> Download
                            </button>
                        </td>
                    </tr>{{/each}}
                    </tbody>
                </table>
            </div>
        </div>{{/each}}
    </div>

>>>>>>> hwkr/master
</div>
{{!Print Script}}
<script>
    function printFunction() {
        window.print();
    }
</script>
{{/default}}