.dashboard {
  .tabbable {
    .tab-content {

    }
    margin-bottom: 2*$padding-large-vertical;
  }
}


table.timetable {
  width: 100%;
  max-width: 100%;
  margin-bottom: $line-height-computed;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        line-height: $line-height-base;
        position: relative;
        vertical-align: top;

        &.today {
          background: $table-bg-hover;
        }

        > .fill {
          height: 2*$table-cell-padding;
        }
      }
    }
    > tr {
      > th {
        padding: $table-cell-padding;
      }
    }
    > tr {
      > th.time {
        color: darken($table-border-color, 10%);
        font-size: $font-size-small;
        text-align: right;
        white-space: nowrap;
        text-overflow: clip;
      }
    }
    > tr.half-hour {
      > td {
        border: none;
      }
    }
    > tr {
      > td {
        border-top: 1px solid $table-border-color;
        border-bottom: 1px dotted $table-border-color;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    color: $gray-light;
    vertical-align: bottom;
    border-bottom: 2px solid $table-border-color;
    text-transform: uppercase;
    font-size: $font-size-small;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
        text-align: center;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid $table-border-color;
  }

  // Nesting
  .table {
    background-color: $body-bg;
  }

  // Events

  .event {
    width: 96%;
    height: 2*$table-cell-padding - 2;
    margin: 0 2%;

    padding: $padding-base-vertical;
    border-radius: $border-radius-base;
    border-left: solid $border-radius-small;
    color: $gray;
    background: $gray-lighter;

    text-align: left;
    position: absolute;
    overflow: hidden;
    z-index: 1;

    cursor: pointer;

    .event-title {
      font-size: $font-size-small;
      font-weight: bold;
      white-space: nowrap;
      padding: 0;
      margin: 0;
    }

    &.active {
      border-left: solid $border-radius-small transparent;
    }

    $course-colors:
            #1f77b4
            #ff7f0e
            #2ca02c
            #d62728
            #7e55a3
            #a6538a
            #bcbd22;
    @for $i from 1 through length($course-colors)-1 {
      &.event-course-#{$i} {
        color:      nth($course-colors, $i);
        background: lighten(nth($course-colors, $i), 40%);
        &:hover,
        &:focus
        {
          background: lighten(nth($course-colors, $i), 35%);
        }
        &.active {
          color:      #fff;
          background: nth($course-colors, $i);
        }
      }
    }
  }
}


