.dashboard {
  .tabbable {
    .tab-content {

    }
    margin-bottom: 2*$padding-large-vertical;
  }
}


table.timetable {
  width: 100%;
  max-width: 100%;
  margin-bottom: $line-height-computed;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        line-height: $line-height-base;
        position: relative;
        vertical-align: top;
        text-align: center;
        > .fill {
          height: 2*$table-cell-padding;
        }
        > .event {
          position: absolute;
          width: 98%;
          margin: auto 1px;
          height: 2*$table-cell-padding - 2;
          padding: $padding-base-vertical;
          border-radius: $border-radius-base;
          color: $gray;
          background: $gray-lighter;
          text-align: left;
          overflow: hidden;
          .event-title {
            font-size: $font-size-small;
            font-weight: bold;
            white-space: nowrap;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
    > tr {
      > th
      {
        padding: $table-cell-padding;
      }
    }
    > tr {
      > th.time {
        color: darken($table-border-color, 10%);
        font-size: $font-size-small;
        text-align: right;
        white-space: nowrap;
        text-overflow: clip;
      }
    }
    > tr.half-hour {
      > td {
        border-top: 1px solid $table-border-color;
        border-bottom: 1px dotted $table-border-color;
      }
    }
    > tr {
      > td {
        border: none;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    color: $gray-light;
    vertical-align: bottom;
    border-bottom: 2px solid $table-border-color;
    text-transform: uppercase;
    font-size: $font-size-small;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
        text-align: center;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid $table-border-color;
  }

  // Nesting
  .table {
    background-color: $body-bg;
  }
}
