.semester {
  display: none;
  visibility: hidden;
  &.active {
    display: block;
    visibility: visible;
  }
}

table.semester-switch {
  > tbody {
    > tr {
      cursor: pointer;
      &.active {
        cursor: default;
      }
    }
  }

}