/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

/* CUSTOMIZE THE HEADER
-------------------------------------------------- */

/* Header base class */
header {
  height: 600px;
  height: 80vh;
  margin-bottom: 60px;
  padding-top: 200px;
  min-width: 100%;

  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://donvaughan.files.wordpress.com/2011/01/100_20981.jpg');

  background-position: center center;
  background-size: cover;


  h1 {
    text-align: center;
    color: #fff;
    font-size: 96px;
  }

  h2 {
    color: #ccc;
    font-size: 24px;
  }
}


.modal-content {
  overflow: hidden;

  iframe {
    width: 100%;
    height: 400px;
    height: 60vh;
    margin-bottom: -6px;
  }
}



/* Misc
------------------------- */

.img-center{
  display: block;
  margin: 0 auto;
}

.img-responsive {
  &.pull-right,
  &.pull-left {
    margin: 6px 18px;
    max-width: 256px;
  }
  &.pull-left {
    margin-left: 0;
  }
  &.pull-right {
    margin-right: 0;
  }
}

.figure {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}